<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura de venta # </title>
</head>
<body>
    <div style="display: flex;">
        <div style="width: 50%; display: inline; margin: auto; padding: 2rem;">
            <h1 style="font-size: 7; display: inline;">DJANGO'S STORE</h1>
        </div>
        <div style="width: 50%; display: inline; margin: auto; padding: 2rem;">
            <h2 style="color: RED; display: inline;">FACTURA DE VENTA # 1</h2>
        </div>      
    </div>
    
    <hr style="color: blue;">
    
</body>
</html>