{% extends 'core/base.html' %}
{% block titulo %}Carrito de compras{% endblock %}

{% block content %}
    {% load static %}
    {% load humanize %}
        <section class="container mt-5">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <!-- Validación de existencia de objetos en el carrito -->
                        {% if request.session.carro.items %}
                            <!-- Recorremos el diccionario del carrito con el detalle del mismo: -->                         
                            {% for key, value in request.session.carro.items %}
                            <!--
                                <input type="hidden" name="precio" id="precio" value="{{ value.precio }}">
                                <input type="hidden" name="cantidad" id="cantidad" value="{{ value.cantidad }}">
                            -->
                                <div class="card mb-3"">
                                    <div class="row g-0">
                                        <div class="col-md-2">
                                            <img src="{{ value.imagen }}" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h4 class="card-title">{{ value.nombre }}</h4>
                                                <h5 class="card-tittle" id="precio">{{ subtotal }}</h5>
                                                <p class="card-text">{{ value.cantidad }}</p>
                                                <p class="card-text"><small class="text-muted">Valor unitario: {{ value.precio }}</small></p>

                                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                    <a  href="{% url 'pedidos:restar' value.producto_id %}"
                                                        class="btn btn-warning mx-2">
                                                        <i class="bi bi-dash"></i>
                                                    </a>
                                                    <a  
                                                        href="{% url 'pedidos:eliminar' value.producto_id %}" 
                                                        class="btn btn-danger mx-2 " >
                                                        <i class="bi bi-trash3-fill"></i>
                                                    </a>
                                                    <a  class="btn btn-success mx-2"
                                                        href="{% url 'pedidos:adicionar' value.producto_id %}">
                                                        <i class="bi bi-plus"></i>
                                                    </a>
                                                </div>
                                                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            
                        {% else %}
                            <div class="col bg-warning mx-3">
                                <h4 class="text-danger text-center">El carrito de compras está vacio</h4>
                            </div>
                        {% endif %}

                    </div>
                </div>
                <div class="col bg-secondary text-light">
                    <h3 class="text-center text-warning">Resumen de la compra</h3>
                    <div class="row">
                        <div class="col-6">Total a Pagar:</div>
                        <div class="col-6">$ {{ Total_Carro |intcomma }}</div>
                        <div class="col-6">Subtotal:</div>
                        <div class="col-6">$ {{ subtotal |intcomma }}</div>
                        <div class="col-6">Valor Iva:</div>
                        <div class="col-6">$ {{ iva_pedido |intcomma }}</div>
                        <div class="col-6">Cantidad de productos:</div>
                        <div class="col-6">{{ Cantidad_Carro }}</div>
                        <div class="col-12 mt-5">
                            <a class="btn btn-lg btn-success col-12 text-center" href="{% url 'pasarela' %}">
                                Proceder a pagar
                            </a>
                        </div>
                        <small>
                            <div class="col-12 mt-5">
                                <a  class="btn btn-lg btn-danger col-12 text-center"
                                    href="{% url 'pedidos:vaciar'%}">
                                    Vaciar Carrito
                                </a>
                            </div>
                        </small>
                    </div>
                </div>
            </div>
        </section>
        

        <script>
            valorunitario = document.getElementById('precio').value;
            cantidad = document.getElementById('cantidad').value;
            total = valorunitario * cantidad;
            console.log(valorunitario, cantidad, total)
            //valortotal = valorunitario * 
        </script>
    {% endblock %}