{% load static %}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Django Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ">
              <a class="nav-link {% if request.path == '/' %}active {% endif %}" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/catalogo' %}active {% endif %}" href="{% url 'listado' %}">Catalogo</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorias
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">{{ profesor }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">{{ instituto }}</a>
            </li>
          </ul>
          <!-- Adición de elementos para control de inicio de sesion y usuario, dropdown de opciones de usuario -->
          <ul class="navbar-nav"> 
            {% if request.user.is_authenticated %}
              <div class="btn-group">
                <!-- Botón del carrito de compra: -->
                <button class="btn btn-outline-warning mx-3 position-relative">
                  <i class="bi bi-cart4"></i>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    99+
                  </span>
                </button>
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <!-- Adición de imagen de perfil a la barra de menú -->
                  {% if request.user.perfilmodel.img_perfil %}
                    <img src="{{ user.perfilmodel.img_perfil.url }}" class="img-thumbnail rounded-circle" width="38" alt="">
                  {% else %}
                    <!-- <img src="{% static 'media/img/djangologo.png' %}" class="img-thumbnail rounded-circle" width="38" alt=""> -->
                    <i class="bi bi-person-circle"></i>
                  {% endif %}
                  <!-- Imprimimos el username del usuario logueado, y le damos un poco de estilo: -->
                  <span class="text-capitalize">{{ user.username }}</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="{% url 'profile' %}""><i class="bi bi-person-badge text-primary"></i> Ver Perfil</a></li>
                  {% if request.user.is_superuser %}
                    <li><a class="dropdown-item" href="/admin/"><i class="bi bi-gear-fill"></i> Administración</li></a>
                  {% endif %}
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-door-closed-fill text-danger"></i> Cerrar Sesión</a></li>
                </ul>
              </div>
              <li class="nav-item"></li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link mx-2 btn {% if request.path != '/accounts/login/' %} btn-outline-success {% else %} btn-success active {% endif %}" href="{% url 'login' %}"><i class="bi bi-door-open-fill text-warning"></i> Ingresar</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
</header>