{% load static %}
<!--Enlace a hoja de estilos -->
<link rel="stylesheet" href="{% static 'css/sidenav.css' %}">
<div class="flex-shrink-0 p-3 bg-white position-fixed">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-5 fw-semibold">Collapsible</span>
    </a>
    <ul class="list-unstyled ps-0">
      {% for categoria in categorias %}
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#{{ categoria.nombre_categoria  }}" aria-expanded="true">
          {{ categoria.nombre_categoria }}
        </button>
        <div class="collapse show" id="{{ categoria.nombre_categoria  }}">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            {% for sub in subcategorias %}
              {% if sub.categoria_id == categoria.id %}
                <li>
                  <a href="#" class="link-dark d-inline-flex text-decoration-none rounded">{{ sub.nombre_subcategoria }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </li>
      {% endfor %}
      <!--Borrar:-->
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
        <div class="collapse" id="account-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New...</a></li>
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a></li>
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Sign out</a></li>
          </ul>
        </div>
      </li>
      <!--Hasta Aquí -->
    </ul>
  </div>

  <!-- Javascript de animación de hoja de estilos: -->
  <script src="{% static 'js/sidenav.js' %}"></script>