{% extends 'core/base.html' %}
<!-- Variables de etiqueta html: -->
{% block titulo %}Ingreso A djangoStore{% endblock %}

{% block content %}
    {% load static %}
    <!--Contenido de la pagina:-->
    <main class="form-signin align-middle mt-5">
        {% if 'register' in request.GET %}
            <div class="alert alert-success" role="alert">
                Usuario registrado correctamente!
            </div>
        {% endif %}
        <form action="" method="post">{% csrf_token %}            
        <img class="mb-4 img-fluid rounded mx-auto d-block col-7" src="{% static 'media/img/djangologo.png' %}" alt="" >
        <h1 class="h3 mb-3 fw-normal text-center">Login to App</h1>
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                Usuario y/o Password Incorrectos!!. Intenta de Nuevo!
            </div>
            {% endif %}
        <div class="form-floating">
            <input type="text" name="username" required class="form-control" id="id_username" placeholder="Nombre de Usuario">
            <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" required class="form-control" id="id_password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
    
        <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
        <div class="text-center"><p class="text-center"> No tienes cuenta? <a class="nav-link btn btn-outline-success" href="{% url 'registro' %}">Registrate</a> </p></div>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017–2022</p>
        </form>
    </main>

{% endblock %}